<section id="contact" data-tab-content>
  <div id="contactTitle"></div>
  <div id="contactBody">
    <div id="phone">
        <h2>Contact</h2>
        <p>(307) 922-3615</p>
        <p><a href="mailto:cilla.brookes@gmail.com">Email cilla.brookes@gmail.com</a></p>
    </div>
    <div id="hours">
        <h2>Business Hours</h2>
        <p>Monday - Thursday&Tab;8:00 am - 3:00 pm</p>
        <p>Friday - Sunday&Tab;Closed</p>
    </div>
    <div id="location">
        <h2>Location</h2>
        <p>521 Dinwoody Way,</p>
        <p>Rock Springs, WY 82901</p>
    </div>
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="300" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=521%20dinwoody%20way%20rock%20springs%20&t=&z=15&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
  </div>
</section>
