<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <img width="100" height="58" src="../assets/logo_sm.webp" alt="" />
    <button
      class="navbar-toggler"
      type="button"
      (click)="backgroundImageExample.toggle()"
      aria-controls="backgroundImageExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      mdbCollapse
      #backgroundImageExample="mdbCollapse"
      class="collapse navbar-collapse"
      id="backgroundImageExample"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calendar">Calendar</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/gallery">Gallery</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="text-center text-white" style="background-color: #f1f1f1">
  <!-- Grid container -->
  <div class="container pt-3">
    <!-- Section: Social media -->
    <section class="mb-3">
      <!-- Facebook -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.facebook.com/mamabearspreschool"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Youtube -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.youtube.com/channel/UCLFJvtIRX9GNS24tPnoKF0g/featured"
        role="button"
        ><i class="fab fa-youtube"></i
      ></a>

      <!-- Email -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:cilla.brookes@gmail.com"
        role="button"
        ><i class="fas fa-envelope"></i
      ></a>

      <!-- Call -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="tel:3079223615"
        role="button"
        ><i class="fas fa-phone"></i
      ></a>
      <!-- Github -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/jpe0824"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="text-right text-dark p-2"
    style="background-color: rgba(0, 0, 0, 0.1)"
  >
    Copyright © 2023 MamaBearsPreschool, LLC. All rights reserved.
  </div>
  <!-- Copyright -->
</footer>
