<div class="p-5 bg-image img">
  <div class="card-container d-flex flex-wrap justify-content-around">
    <div class="card mb-5">
      <div class="card-body">
        <h5 class="card-title">About Me</h5>
        <div class="card-text">
          <p>
            Hello! My name is Priscilla Tolhurst and I am the owner and teacher for Mama Bear’s Preschool! I have been teaching preschool for eight years. I have four children and they are the inspiration for me becoming a teacher! As a mom, I also understand what parents are looking for in quality preschool education. With my older children in the school district, I know what they need to be successful.
          </p>
          <p>
            I am licensed and certified through DFS and the city of Rock Springs to teach preschool and work with your children. I use both my degree in Early Childhood Education, and my continued learning through STARS to offer an awesome curriculum for your child! I love providing your child with fun, hands on learning. I am dedicated to giving your child the tools to learn the basics and become ready for kindergarten!
          </p>
          <p>
            Here at Mama Bear’s we love learning with movement, songs, and aren’t afraid of a little mess; because this is how children learn best! I strongly believe that learning through play encourages a love of learning that can last a lifetime. I am a patient teacher who loves getting to know your child. I have worked with many different children and am well equipped to handle unique circumstances or challenges. I want both your child and yourself to feel like part of the family!
          </p>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-body">
        <h5 class="card-title">Curriculum</h5>
        <div class="card-text">
          <p>
            Each month, we focus on a different general theme. All of the lessons for that month will be based around that concept. With this we have daily individual activities, crafts, and further exploration. For example one month we may explore the human body with individual days focusing on eyes/sight, ears/hearing, tongue/taste. Of course you can expect your child to learn the basics of counting, the alphabet, their shapes, and colors! As well as these core subjects, I take your child’s learning one step further by providing additional subjects of art, music, science, and dramatic play.
          </p>
          <p>
            In my classroom setting we follow a daily routine to help give your child the skills to learn to play with others, listen and follow class rules, learn to love and respect oneself and others. With our consistent routine children are able to build the basic foundational skills needed for kindergarten while our unique daily themes allow for children to get a deeper connection with the world around them.
          </p>
          <p>
            The following is an example of what an average day would look like using the theme from above.
          </p>
          <ul>
            <li>
              Arrival/Free Play: We begin our day with free play which helps your child have a smoother drop off since they begin class playing with their friends.
            </li>
            <li>
              Calendar Time: After the entire class has arrived we move to our calendar time. This allows me to go over our letter of the week, our monthly number, color, and shape all in the same setting.
            </li>
            <li>
              Weekly Letter Focus: We then move on to an activity, worksheet, or craft that focuses on our weekly letter.
            </li>
            <li>
              Music Time: After completing our letter focus we move onto music. This lets us learn fun songs that help us remember our learning foundations as well as get some wiggles out!
            </li>
            <li>
              Centers: Once we complete music time we move onto our centers. These look different each day and consist of hands on activities centered around our daily theme. If we were learning about tongue/taste we could have a center that let us taste the difference of salty or sweet or we could have another center with a mirror to let each child make funny faces and visualize their tongue!
            </li>
            <li>
              Theme Focus: After centers we typically have a project, craft, or worksheet also focusing on our daily theme. We never rush any aspect of the day giving children the opportunity to explore, ask questions, and get individual time if needed.
            </li>
            <li>
              Story time/Snack Time: We end each day with a story and snack!
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Program Options</h5>
        <div class="card-text">
          <p>
            Mama Bear’s Preschool offer various classes and schedules to fit your family's needs.
            However space is limited; it is strongly encouraged for you to contact me today to
            hear about my availability and find a class for you! Our threes program is two hours
            long and our fours program is three hours long.
          </p>
          <p>
            3-4 Year old programs available:
          </p>
          <ul>
            <li>Mon, Wed 9:00 - 11:00</li>
            <li>Tue, Thurs 9:00 - 11:00</li>
          </ul>
          <p>
            4-5 Year old programs available:
          </p>
          <ul>
            <li>Mon, Wed 12:00 - 3:00</li>
            <li>Tue, Thurs 12:00 - 3:00</li>
            <li>Mon - Thurs 12:00 - 3:00</li>
          </ul>
          <p>Digital at home program for 3-5 years old! I am able to ship if requested.</p>
        </div>
      </div>
    </div>
  </div>
</div>
