<div>
  <div class="p-5 text-center bg-image img">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Mama Bear's Preschool</h1>
        <h4 class="mb-3">Welcome to the Bear Den!</h4>
        <!-- <a class="btn btn-outline-light btn-lg" href="#!" role="button">Enroll Today</a> -->
        <button class="btn btn-outline-light btn-lg" (click)="openModal()">Enroll Today</button>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
<div class="container-fluid">
  <div class="p-4">
    <h4>Become a Bear Cub Today!</h4>
    <p>Welcome to Mama Bear’s Preschool! Mama Bear’s is a state licensed preschool ran by Priscilla Tolhurst. Our mission is to provide your child with a quality education while also emphasizing social skills, individual development, and boosting your child’s self esteem!</p>
    <p>At Mama Bear's Preschool, we prepare your child for kindergarten! Our bear cubs graduate with the necessary skills they need to succeed in kinder and the confidence they acquire at this early stage helps them continue to succeed throughout their life!</p>
    <p>Mama Bear’s Preschool is committed to bringing your child the very best education! We take adventures on field trips, learn though exploration and play, work individually on letters and numbers, and creative activities featuring daily themes! We are a unique and quality preschool that strive to bring you the very best!</p>
    <p>We offer several options in order to find a schedule that suits you best! We offer two day programs, four days programs, and even online options if you are wanting a program you can do from home! Each August we hold an open house to meet me and explore the classroom but feel free to find our virtual tour on our Facebook page. Enrolling in this program is super easy! Become a bear cub today! Simply reach out using our contact information and you will receive our digital registration and answers to any questions you may have!</p>
  </div>
</div>
